<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="/"><i class="fa fa-truck" aria-hidden="true"></i> eSpeedShop</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/shop">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>

    <div class="d-inline ml-auto" tabindex="0">
      <a href="#" style="text-decoration: none;">
        <img src="images/search.svg" class="img-fluid search" />
      </a>
    </div>
  </div>
</nav>
<div data-widget="overlay">
  <script type="application/json">
    {
      "account": "1623775511261869447",
      "collection": "products",
      "endpoint": "//jsonapi-us-valkyrie.sajari.net",
      "pipeline": "app",
      "preset": "app",
      "variables": {},
      "filters": [],
      "options": {
        "sorting": {
          "options": [
            {
              "name": "Most relevant",
              "value": ""
            },
            {
              "name": "Alphabetical: A to Z",
              "value": "title"
            },
            {
              "name": "Alphabetical: Z to A",
              "value": "-title"
            }
          ]
        },
        "results": {
          "viewType": "list",
          "imageAspectRatio": {
            "grid": 0.563,
            "list": 1
          },
          "imageObjectFit": {
            "grid": "cover",
            "list": "cover"
          }
        },
        "input": {
          "hide": false,
          "position": "top"
        },
        "mode": "overlay",
        "buttonSelector": ".search"
      },
      "theme": {
        "color": {
          "primary": {
            "base": "#667eea",
            "text": "#ffffff",
            "active": "#5a67d8"
          }
        }
      },
      "fields": {
        "title": "title",
        "subtitle": "details",
        "image": "picture",
        "price": "price"
      }
    }
  </script>
  <noscript>This page requires JavaScript</noscript>
</div>
<script async src="https://cdn.sajari.com/embed/1/loader.js"></script>